.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 6rem;
}

 .add_post{
  padding: 5px 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.2s linear;  
}

.add_post:hover{
  background-color: aqua;
  color: white;
}

